spring:
  application:
    name: event-management

  datasource:
    url: jdbc:postgresql://localhost:5434/event_management
    username: app
    password: app_secret
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  security:
    user:
      name: disabled
      password: disabled

server:
  port: 8080

app:
  admin:
    email: admin@eventmanagement.com
    password: admin123
  jwt:
    secret: a5f8d2e1b4c7a0e3f6d9b2c5a8e1d4f7b0c3a6e9d2f5b8c1a4e7d0f3b6c9a2e5
    expiration-ms: 3600000
